.footer__top { padding: 60px 0; background: #021927; text-align: left; color: white;}
.footer__top h3 { padding-bottom: 10px; color: #fff; }

.footer__about img.footer__logo { max-width: 250px; margin-top: 0; margin-bottom: 18px; }
.footer__about p a { color: #aaa !important;}

.footer__contact p { word-wrap: break-word;}
.footer__contact i { padding-right: 10px; font-size: 18px; color: #007bff; }
.footer__contact p a { color: #aaa !important; }

.footer__social a { display: inline-block; margin-right: 20px; margin-bottom: 8px; color: white !important; border: 0; }
.footer__social a:hover, .footer__social a:focus { color: #aaa !important; border: 0; }
.footer__social i { font-size: 24px; vertical-align: middle; }

.footer__copyright p { margin: 0; padding: 0.5rem 0; }
.footer__copyright a { color: #fff; border: 0; }
.footer__copyright a:hover, .footer__copyright a:focus { color: #aaa; border: 0; }
